@import '@variables';

.module {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 8px;
  .checkField {
    display: inline-block;
    .labelArea {
      display: flex;
      align-items: center;
      cursor: pointer;
      background: #eee;
      padding: 8px;
      border-radius: 2.5em;
      input[type='checkbox'] {
        margin-right: 8px;
      }
    }
  }
}

@include mq(lg) {
  .module {
    grid-template-columns: repeat(6, 1fr);
  }
}

@include mq(md) {
  .module {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include mq(sm) {
  .module {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include mq(xs) {
  .module {
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    .checkField {
      .labelArea {
        padding: 4px;
      }
    }
  }
}
